template(name='layout')
	+menu
	.container
		+yield

template(name='menu')
	.navbar-fixed: nav: nav.wrapper
		ul.left
			a Beranda
			a(href='/pegawai') Pegawai
			a(href='/diklat') Diklat
		a.brand-logo.center Aplikasi Diklat Jakon
		ul.right
			unless currentUser
				a(href='/login') Login
			if currentUser
				a(href='/logout') Logout

template(name='home')
	h4 Beranda

template(name='login'): .container
	h4.center Login Pengguna
	form#login
		.row
			.input-field.col.m6
				input.validate#username(type='text')
				label(for='username') Username
			.input-field.col.m6
				input.validate#password(type='password')
				label(for='password') Password
		.row
			.input.field.center
				input.btn(type='submit' value='Login')

template(name='pegawai')
	h4 Daftar Pegawai
	.btn.right#insert Tambah
	if insert
		+quickForm(
			collection = 'pegawais'
			schema = pegawaiS
			type = 'insert'
			id = 'insertPegawai'
		)
	if edit
		+quickForm(
			collection = 'pegawais'
			schema = pegawaiS
			type = 'update'
			id = 'updatePegawai'
			doc = data
		)
		.btn.right#close Tutup
	table
		thead
			tr
				th No.
				th Nama
				th NIP
				th Pangkat
				th Jabatan
				th Bidang
				th Disiplin
				th Aksi
		tbody
			each datas
				tr
					td= num
					td= nama
					td= nip
					td= pangkat
					td= jabatan
					td= bidang_modified
					td= kriteria
					td
						small.orange-text#update Ubah
						small.red-text#removePegawai Hapus

template(name='diklat')
	h4 Daftar Diklat
	.btn.right#insert Tambah
	if insert
		+quickForm(
			collection = 'diklats'
			schema = diklatS
			type = 'insert'
			id = 'insertDiklat'
		)
	if editDiklat
		+quickForm(
			collection = 'diklats'
			type = 'update'
			id = 'updateDiklat'
			doc= editDiklat
		)
		.right.orange.btn#close Tutup Edit
	table
		thead
			tr
				th No.
				th Judul
				th Tanggal Mulai
				th Tanggal Akhir
				th Tempat
				th Aksi
		tbody
			each diklats
				tr
					td= num
					td= judul
					td= tanggal.mulai
					td= tanggal.akhir
					td= tempat
					td
						a.small.blue-text#read(href='/diklat/{{_id}}') Rincian
						a.small.orange-text#editDiklat(href='#') Edit
						a.small.red-text#removeDiklat(href='#') Hapus

template(name='rincian')
	h4 Rincian Diklat
	p= diklat.judul
	p= diklat.tanggal.mulai
	p= diklat.tanggal.akhir
	p= diklat.disiplin
	p= diklat.tempat
    
	ul
		each val in diklat.kriteria
			li= val

	h4 Pegawai Disertakan
	.btn.right#insert Tambah
	.right.btn#empty Kosongkan
	if insert
		+quickForm(
			collection = 'pesertas'
			schema = pesertaS
			type = 'insert'
			id = 'enterPegawai'
		)
	ul
		each pesertas
			li= nama_peserta

	h4 Rekomendasi Pegawai
	ul
		each pegawais
			li#item= nama
